body {
    background-image: url(sky.jpg); background-size:cover; margin-top: 2cm;
 
    color: rgb(10, 20, 1); text-align: center; font-style:italic;
}

 footer>p{
     margin-top: 10% ; 

 }

 table, td{
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style:groove;
 }

 table>p{
    font-size:25px;
 }